<div class="pictures-box">
  <img src="../assets/images/pika.jpg" alt="American Pika">
  <img src="../assets/images/osprey.jpg" alt="Osprey" />
  <img src="../assets/images/swans.jpg" alt="Migrating Trumpeter Swans" />
  <img src="../assets/images/black_bear.jpg" alt="Black Bear"/>
</div>


<div class="about-description">
  <h2>About Spotted!</h2>

  <p>
    Spotted was created in 2016 as a response to a problem: Serious birders and wildlife viewers do not have a way to reliably and digitally record information and then access that information remotely from anywhere they have internet. Now, instead of a spreadsheet on your computer back home, Spotted is available to store information about all of the wildlife you've spotted!
  </p>
  <p>
    Additionally, Spotted was created by a wildlife ecologist with plenty of experience recording data from the field. With this mindset, Spotted was designed to allow for a whole range of different data types to be recorded. A user may enter as much information as they know, or very little.
  </p>
  <p>
    Finally, Spotted aims to be a citizen science tool. With the ability to view, search, and sort not only your own data, but data entered by other users as well.
  </p>

  <h4>Get started! Register and begin recording what you've spotted today!</h4>
  <a href="/register"><button>Register</button></a>
  <h4>Curious about what others have spotted? Proceed as a guest!</h4>
  <a href="/guest"><button class="alternate">View as a Guest</button></a>

</div>
