<div class="edit-profile">

  <h1>Edit your profile, {{thisUser.username}}</h1>

  <h3>Username: {{thisUser.username}}</h3>

  <h4>Name: {{thisUser.first_name}} {{thisUser.last_name}}</h4>
  <h4>Email Address: {{thisUser.email}}</h4>

  <button ng-click="showUpdate()">Edit Profile</button><br/>
  <a href="/success"><button class="alternate">Go Back</button></a>

  <div class="update-user" ng-show="update">

    <div class="register-box">
      <label>Username: </label><input type="text" ng-model="data.username"/><br/>
    </div>
    <br />
    <div class="register-box">
      <label>Password: </label><input type="password" ng-model="data.password"/><br/>
    </div>
    <br />
    <div>
      <div class="register-box">
        <label>First Name: </label><input type="text" ng-model="data.first_name"/><br/>
      </div>
      <br />
      <div class="register-box">
        <label>Last Name: </label><input type="text" ng-model="data.last_name"/><br/>
      </div>
      <br />
      <div class="register-box">
        <label>Email Address: </label><input type="text" ng-model="data.email"/><br/>
      </div>
      <br />

      <button ng-click="registerUpdate()">Submit Update</button><br/>
      <button ng-click="cancel()" class="cancel">Cancel</button>
    </div>

  </div>


</div>
