<div class="guest-home">

  <div class="wide-box">
    <h1>Welcome, Guest!</h1>
  </div>
  <img class="banner-image" src="../assets/images/egret_bar.jpg" alt="Snowy Egret"/>

  <div class="guest-choices">
    <button class="full-box" ng-class="{'active': keyword}" ng-click="keywordTog()"><h1>Search By Keyword</h1></button>
    <button class="full-box" ng-class="{'active': sortType}" ng-click="sortTypeTog()"><h1>Search by Categories</h1></button>
  </div>
  <br />

  <a href="/register" ><button class="wide-box alternate"><h3>Create your own Spotted account!</h3>
  </button></a>

              <!-- All the ng-shown stuff appears in "show-box" below: -->

  <div class="show-box">


                            <!-- Sort-Type -->
    <div class="sort-type" ng-show="sortType">
      <!-- <img src="../assets/images/egret.jpg" alt="Snowy Egret" style="float: right; width: 300px;"/> -->
      <h2>Sort by Data Type</h2>

      <div class="entry-box">
        <label>Sort by Category: </label><select ng-model="categorySelect">
            <option ng-repeat="category in categories">{{category}}</option>
          </select>
      </div>
        <br />
        <br />

      <div class="entry-box">
        Date Range:
        <br />
          <label>Start Date (yyyy): </label><input type="text" ng-model="startDate"/><br />
          <label>End Date (yyyy): </label><input type="text" ng-model="endDate"/>
      </div>
      <br />
      <br />

      <div class="entry-box">
        <label>Name: </label><input type="text" ng-model="nameSearch"/>
      </div>
      <br />
      <br />

      <div class="entry-box">
        <label>Location: </label><input type="text" ng-model="locationSearch"/>
      </div>
      <br />
      <br />

      <button ng-click="getComplexList()">Show me the list!</button>
      <br /><br />

      <h2 ng-show="complexResponse">{{responseLength}} search matches!</h2>
      <div class="single-entry" ng-repeat="entry in entries">
        <h3>{{entry.common_name}}</h3>
        <p>{{entry.scientific_name}}</p>
          <p>Day: {{entry.day_spotted}} Month: {{entry.month_spotted}} Year: {{entry.year_spotted}}</p>
          <p>Location: {{entry.location_country}} {{entry.location_state}} {{entry.location_county}}</p>
          <p>{{entry.individual_sex}}</p>
          <p>{{entry.individual_age}}</p>
          <p>{{entry.additional_notes}}</p>
          <p>Spotted by: {{entry.username}}</p>
          <button class="tiny" ng-click="globalView(entry)">View</button>
      </div>

    </div>



                    <!-- Keyword -->
    <div class="keyword" ng-show="keyword" style="min-height: 275px;">
      <!-- <img src="../assets/images/heron.jpg" alt="Green Heron" style="float: right; width: 300px;"/> -->
      <h2>Search by Keyword</h2>

      <div class="entry-box">
        <label>Keyword: </label><input type="text" ng-model="keywordParam"/>
      </div><br />
      <br />

      <button class="tiny" ng-click="keywordSearch()">Search</button>

    <h2 ng-show="complexResponse">{{responseLength}} search matches!</h2>
    <div class="single-entry" ng-repeat="entry in entries">
      <h3>{{entry.common_name}}</h3>
      <p>{{entry.scientific_name}}</p>
        <p>{{entry.month_spotted}} {{entry.day_spotted}}  {{entry.year_spotted}}</p>
        <p>Location: {{entry.location_country}} {{entry.location_state}} {{entry.location_county}}</p>
        <p>{{entry.individual_sex}}</p>
        <p>{{entry.individual_age}}</p>
        <p>{{entry.additional_notes}}</p>
        <p>Spotted by: {{entry.username}}</p>
        <button class="tiny" ng-click="globalView(entry)">View</button>
    </div>
  </div>

  </div>


</div>
