<div class="home-page">
  <div class="heading">
    <h1>Welcome to Spotted!</h1>
    <h2>A Wildlife Viewing Log and Citizen Science Tool.</h2>
  </div>
  <div class="button-box">
    <button class="about box" ng-click="toggleAbout()"><h1>About Spotted</h1></button>

    <div class="about" ng-show="about">
      <p>
        Here's some description of Spotted!
      </p>
    </div>

    <a href="/sign_in"><button class="sign-in box"><h1>Log a Spotting! Sign In</h1></button></a>
    <a href="/register"><button class="register box"><h1>New to Spotted? Register</h1></button></a>
    <a href="/guest"><button class="guest box"><h1>View Spottings as a Guest</h1></button></a>
  </div>
</div>
