<h2>Log a new Spotting!</h2>


<div class="new-entry">
  <div class="entry-box">
    <h4>General</h4>
    <label>Category: </label><select ng-model="data.category">
      <option ng-repeat="category in categories">{{category}}</option>
    </select><br/>
  </div>
  <br />

  <div class="entry-box">
    <label>Common Name: </label><input type="text" ng-model="data.common_name"/><br/>
  </div>
  <br />

  <div class="entry-box">
    <label>Scientific Name: </label><input type="text" ng-model="data.scientific_name"/><br/>
  </div>
  <br />

  <div class="entry-box">
    <h4>Location</h4>
    <label>Country: </label><input type="text" ng-model="data.location_country"/>
    <label>State/Province: </label><input type="text" ng-model="data.location_state"/>
    <label>County/Parish: </label><input type="text" ng-model="data.location_county"/><br/>
  </div>
  <br />

  <div class="entry-box">
    <h4>Date Spotted</h4>
    <label>Year: </label><input type="date" ng-model="data.date_spotted"/>
    <p>Or as much as you can remember:</p>
    <label>Year: </label><input type="text" ng-model="data.year_spotted"/>
    <label>Month </label><input type="text" ng-model="data.month_spotted"/>
    <label>Day: </label><input type="text" ng-model="data.day_spotted"/><br/>
  </div>
  <br />

  <div class="entry-box">
    <label><h4>Individual or Group?</h4></label>
      <input type="radio" ng-model="data.group" ng-click="isGroup()" value="group"/>Group<br/>
      <input type="radio" ng-model="data.group" ng-click="isGroup()" value="individual"/>Individual<br/>
  </div>
  <br />

        <div class="entry-box" ng-show="groupShow">
          <label>Estimated number in group: </label><input type="text" ng-model="data.number_in_group"/><br/>
        </div>
        <br />

        <div class="entry-box" ng-show="individualShow">
          <label>Sex:</label><select ng-model="data.sex">
              <options ng-repeat="sex in sexList">{{sex}}</options>
            </select>
          <label>Age:</label><select ng-model="data.age">
              <options ng-repeat="age in ageList">{{age}}</options>
            </select>
          <label>Individual Description: </label><input type="text" ng-model="data.individual_description"/><br/>
        </div>
        <br />

    <div class="entry-box">
      <h2>Weather Conditions</h2>
      <label>Atmospheric: </label>
      <br />
        <input type="checkbox" ng-model="data.sunny" value="true"/> Sunny<br />
        <input type="checkbox" ng-model="data.overcast" value="true"/> Overcast<br />
        <input type="checkbox" ng-model="data.raining" value="true"/> Raining<br />
        <input type="checkbox" ng-model="data.snowing" value="true"/> Snowing<br />
        <input type="checkbox" ng-model="data.foggy" value="true"/> Foggy<br />
        <input type="checkbox" ng-model="data.windy" value="true"/> Windy<br />
        <input type="checkbox" ng-model="data.other" value="true"/> Other: <input type="text" ng-model="data.other_weather"/><br />

        <br />
      <label>Temperature (degrees F): </label><select ng-model="data.temperature">
        <option ng-repeat="temp in tempList">{{temp}}</option>
      </select><br/>
    </div>
    <br />

    <div class="entry-box">
      <label>Additional Notes: </label><input type="textarea" ng-model="data.additional_notes"/><br/>
    </div>
    <br />


  <div>
    <a href="/user_home"><button class="cancel">Cancel</button></a>
    <button ng-click="submitEntry()">Submit</button><br/>
  </div>

</div>
