<div class="view-data">


  <div class="view-options">
      <button class="quarter-box" ng-class="{'active': simpleList}" ng-click="simpleListTog()"><h2>View Simple List</h2></button>

      <button class="quarter-box" ng-class="{'active': sortType}" ng-click="sortTypeTog()"><h2>Sort by Data Type</h2></button>

      <button class="quarter-box" ng-class="{'active': keyword}" ng-click="keywordTog()"><h2>Search by Keyword</h2></button>

      <button class="quarter-box" ng-class="{'active': viewTable}" ng-click="viewTableTog()"><h2>View Full Table</h2></button>
  </div>


          <!-- All the ng-shown stuff appears in "show-box" below: -->
  <div class="show-box">


                    <!-- Simple List -->
      <div class="simple-list" ng-show="simpleList">
        <h2>View Simple List</h2>

        <div class="entry-box">
          <label>View by Category: </label><select ng-model="categorySelect">
              <option ng-repeat="category in categories">{{category}}</option>
            </select>
            <br /><br />

            <button ng-click="getSimpleList()">Show me my list!</button>
            <br /><br />

        <!-- <div class="simple-box"> -->
          <div class="single-entry" ng-repeat="entry in entries">
            <h3>{{entry.common_name}}</h3>

            <div class="simple-expanded" ng-show="entry.show">
              <p>Day: {{entry.day_spotted}} Month: {{entry.month_spotted}} Year: {{entry.year_spotted}}</p>
              <p>Location: {{entry.location_country}} {{entry.location_state}} {{entry.location_county}}</p>
              <button class="tiny cancel" ng-click="editEntry()">Edit</button>
            </div>

            <button class="tiny" ng-click="viewEntry(entry)">{{entry.view}}</button>
          </div>
        <!-- </div> -->
        </div>
      </div>



                      <!-- Sort Type -->
      <div class="sort-type" ng-show="sortType">
        <h2>Sort by Data Type</h2>
        <p>
          More stuff to type here.
        </p>
      </div>



                      <!-- Keyword -->
      <div class="keyword" ng-show="keyword">
        <h2>Search by Keyword</h2>
      </div>



                      <!-- Show Table -->
      <div class="view-table" ng-show="viewTable">
        <h2>View Full Table</h2>
      </div>

  </div>
</div>
